 <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Karan Singh</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Karan Singh</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        ul.navbar-nav.mr-auto 
         <li class="nav-item mx-0 mx-lg-1">
          a.nav-link(href='/home') Home

          <li class="nav-item mx-0 mx-lg-1">
          a.nav-link(href='/about') About
          </li>
          <li class="nav-item mx-0 mx-lg-1"> 
             a.nav-link(href='/portfolio') Portfolio
          </li>
          <li class="nav-item mx-0 mx-lg-1">
           a.nav-link(href='/contact') contact

           
           <li class="nav-item mx-0 mx-lg-1">
           a.nav-link(href='/gallery') Gallery
          </li>
        </ul>
      </div>
    </div>
  </nav>
